spring:
  application:
    name: crud-job
  datasource:
    url: jdbc:mysql://localhost:3306/job_management
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
  show-actuator: false

# ================= JWT Configuration =================
jwt:
  keystore:
    path: keystore/jwt-keystore.p12
    password: 123456
    alias: jwtkey
  expiration: 86400000 # 24 hours in milliseconds
  refresh-expiration: 604800000 # 7 days in milliseconds

logging:
  level:
    root: INFO
    "[org.springframework.web]": DEBUG
    "[org.springdoc]": DEBUG
    "[com.example.crudjob]": DEBUG

